body {
    background-color: #EEEEEE;
}

.main-content {
    background-color: #FFFFFF;
    max-width: 960px;
    padding: 10px;
}

.notification-panel {
    padding: 10px;
}

.notification-panel li {
    padding: 10px;
}
