<!DOCTYPE html>
<html>

  <head>

    <title>Employee Application</title>

    <!-- Style includes -->
    <link rel="stylesheet" href="vendor/bootstrap-css/bootstrap.css" />
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css" />

    <script src="vendor/angularjs/angular.js"></script>
    <script src="vendor/angularjs/angular-ui-router.js"></script>
    
    <link href="styles/employeeApp.css" rel="stylesheet" />

    
    
  </head>

  <body ng-app="employeeApp">
    <main class="main-content container-fluid">
    
      <header class="heading">
        <h1>Employee App</h1>
      </header>
      
      <div class="container-fluid">

        <div ui-view></div>
      
      </div>

      <!--<div ng-controller="TestCtrl" novalidate>
        <form name="form2">
          <label for="name">Name:</label>

          <input id="name"
                 name="name"
                 ng-model="test.name"
                 ng-pattern="/^[a-zA-z ]+$/"
                 placeholder="Enter name"
                 required>

          <button ng-click="submit()">Submit</button>
          <button ng-click="reset()">Reset</button>

          <pre>Test: {{test | json}}</pre>
          <pre>Master: {{ master | json }}</pre>
        </form>
      </div>-->
    
    </main>

    <script src="scripts/employee.js"></script>
    <script src="scripts/employee/employee.service.js"></script>
    <script src="scripts/employee/employee.controller.js"></script>
    <script src="scripts/employee/addEdit.controller.js"></script>
    <script src="scripts/employee/TestCtrl.js"></script>
  </body>

</html>
