<div>

    <h2 ng-show="employeeFormModel.id < 0">{{messages.headings.addEmployee}}</h2>
    <h2 ng-hide="employeeFormModel.id < 0">{{messages.headings.editEmployee}}</h2>

    <div class="notification-panel">
        <p class="bg-success">Successfully saved</p>
        <p class="bg-danger">Not able to save</p>
    </div>

    <form name="employeeForm" ng-submit="submitEmployee()" novalidate>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="firstName">First Name *</label>
                <input ng-model="employeeFormModel.name.first"
                       type="text"
                       class="form-control"
                       id="firstName"
                       name="firstName"
                       placeholder="First name"
                       ng-pattern="/^[a-zA-Z ]+$/"
                       required>
                <p class="text-danger" ng-if="employeeForm.firstName.$dirty && employeeForm.firstName.$invalid">
                    Please enter a valid First Name.
                </p>
            </div>
            <div class="form-group col-md-4">
                    <label for="middleName">Middle Name</label>
                <input ng-model="employeeFormModel.name.middle"
                       type="text"
                       class="form-control"
                       id="middleName"
                       name="middleName"
                       placeholder="Middle name (optional)">
            </div>
            <div class="form-group col-md-4">
                <label for="lastName">Last Name *</label>
                <input ng-model="employeeFormModel.name.last"
                       type="text"
                       class="form-control"
                       id="lastName"
                       name="lastName"
                       placeholder="Last name"
                       ng-pattern="/^[a-zA-Z ]+$/"
                       required>
                <p class="text-danger" ng-if="employeeForm.lastName.$dirty && employeeForm.lastName.$invalid">
                    Please enter a valid Last Name.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="age">Age *</label>
                <input ng-model="employeeFormModel.age"
                       type="number"
                       class="form-control"
                       id="age"
                       name="age"
                       placeholder="Age"
                       ng-min="0"
                       ng-pattern="/^[0-9]+$/"
                       required>
                <p class="text-danger" ng-if="employeeForm.age.$dirty && employeeForm.age.$invalid">
                    Please enter a valid Age.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="designation">Designation *</label>
                <select ng-model="employeeFormModel.designation"
                        ng-options="item as item for item in designations"
                        class="form-control"
                        id="designation"
                        name="designation"
                        required>
                </select>
                <p class="text-danger" ng-if="employeeForm.designation.$dirty && employeeForm.designation.$invalid">
                    Please enter a Designation.
                </p>
            </div>
            <div class="form-group col-md-4 ng-class="{'has-error': employeeForm.salary.$invalid}">
                <label for="salary">Salary *</label>
                <input ng-model="employeeFormModel.salary"
                       type="number"
                       class="form-control"
                       id="salary"
                       name="salary"
                       placeholder="Salary"
                       ng-min="30000"
                       ng-max="80000"
                       ng-pattern="/^[0-9]+$/"
                       required>
                <p class="text-danger" >
                    Please enter a valid Salary for {{ employeeFormModel.designation }}.
                    <span ng-if="employeeFormModel.designation === 'Consultant'">
                        {{ messages.errors.salaryConsultant }}
                    </span>
                    <span ng-if="employeeFormModel.designation === 'Snr. Consultant'">
                        {{ messages.errors.salarySnrConsultant }}
                    </span>
                    <span ng-if="employeeFormModel.designation === 'Lead'">
                        {{ messages.errors.salaryLead }}
                    </span>
                    <span ng-if="employeeFormModel.designation === 'Asst. Manager'">
                        {{ messages.errors.salaryAsstManager }}
                    </span>
                    <span ng-if="employeeFormModel.designation === 'Manager'">
                        {{ messages.errors.salaryManager }}
                    </span>
                    <span ng-if="employeeFormModel.designation === 'Snr. Manager'">
                        {{ messages.errors.salarySnrManager }}
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit"
                        class="btn btn-primary"
                        ng-disabled="employeeForm.$pristine || employeeForm.$invalid">
                    Submit
                </button>
                &nbsp;

                <a class="btn btn-default"
                   role="button"
                   alt="Reset Form"
                   ng-click="resetForm()">
                    Reset
                </a>

            </div>
            <div class="col-md-4 col-md-offset-4 text-right">
                <a class="btn btn-danger"
                   href="#"
                   role="button"
                   alt="Call add new employee">
                    Cancel
                </a>
            </div>
        </div>

    </form>
    {{ employeeForm | json }}
</div>
